.btnsubbtn {
    text-align: end;
}


.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:#011145;
overflow-x: hidden;
transition: 1.0s;
padding-top: 60px;
z-index: 3;

}

.nav-links{
display: flex;
flex-direction: column;
justify-content: center;
}

ul{
padding-left: 0% !important;
}
.sidenav .nav-links a{
background-color: #0034dd15;
margin: 5px auto;
width: 200px;
border-radius:15px;
text-decoration: none;
font-size: 17px;
color: #ffffff;
display: block;
transition: 0.3s;
}

.sidenav .nav-links h4{
    
    margin: 10px auto;
    width: 200px;
    border-radius:15px;
    color: #ffffff;
    transition: 0.3s;
    }


.dropdown-navlink{
    background-color: #0034dd15 !important;
    margin: 5px auto !important;
    width: 200px;
    border-radius:15px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    }

.sidenav .nav-links a:hover {
color: #011145;
padding-left: 20px;
font-weight: 700;
background-color: #00AEED;
}
.current{
color: #011145 !important;
padding-left: 20px !important;
font-weight: 700 !important;
background-color: #00AEED !important;
}
.sidenav-head{
display: flex;
position: absolute;
top: 5px;
padding-left: 17px;
}

.hamburger{
cursor: pointer;
}

.hamburger > .line{
background-color: #011145;
width: 30px;
height: 3px;
color: black;
margin: 5px;
}

.close-hamburger{
cursor: pointer;
margin-top: 27px;
margin-left: 25px;

}

.close-hamburger > .line1{
background-color: #ffffff;
width: 30px;
height: 3px;
transform: rotate(-45deg) translate(0px,1px);
}
.close-hamburger > .line2{
background-color: #ffffff;
width: 30px;
height: 3px;     
transform: rotate(45deg) translate(-0px,-3px);
}

.headnav{
    height: 4rem;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.remove{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
background-color: red;
}

.btn-mblue{
background-color: #011145 !important;
color: white;
}

.text-mblue{
color: #011145 !important;
color: white;
}

.bg-mblue{
    background-color: #011145 !important;
}

.number-card div h2{
    position: relative;
    width: max-content;
}

.number-card div h2::after {
    content: "";
    display: block;
    background-color: #011145;
    width: 100%;
    height: 3px;
    position: absolute;
    color: #011145;
}
 .nc-last h2::after {
    content: "";
    display: block;
    background-color: #ffffff !important;
    width: 70px;
    height: 3px;
    position: absolute;
    color: #011145;
}
.number-card{
    border-top: #ffffff solid;
    cursor: pointer;
}
.number-card:hover{
    border-top: #011145 solid;
    background-color: #1f85850a;
}
/* #myChart{
    border-top: #ffffff solid;
    background-color: #ffffff;
}
#myChart:hover{
    border-top: #011145 solid;
    background-color: #1f85850a;
} */
.nc-last{
    border-top: #011145 solid;
    cursor: none;
}

.nc-last:hover{
    border-top: #00ffff solid;
}

.number-card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
}
.number-card-grid a{
    text-decoration: none;
    color: #011145;
}

.chartsec{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 1.2rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #011145;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #011145;
}
@media(max-width:920px){
    .number-card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .chartsec{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1.2rem;
    }
}

@media(max-width:520px){
    .number-card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .number-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* PRELOADER */

#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #011145;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.preloaderImg{
    transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    position: absolute;
    top:63%;
}
.cssload-thecube {
 
    z-index: 100;
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

/* END PRELOADER */



footer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011145;
    color: white;
}
footer > a {
  
    color: white;
}
footer > a:hover{
      text-decoration: none;
      color: rgb(212, 212, 212);
}